<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="offsetAsPageNum" value="true" />
		</plugin>
	</plugins>

	<mappers>
		<mapper resource="sqlmap/UserMapper.xml" />
		<mapper resource="sqlmap/AgentMapper.xml" />
		<mapper resource="sqlmap/AgentThirdAccountMapper.xml" />
		<mapper resource="sqlmap/ChinaAreaMapper.xml" />
		<mapper resource="sqlmap/CollectWebsiteMapper.xml" />
		<mapper resource="sqlmap/DictionaryMapper.xml" />
		<mapper resource="sqlmap/GradingMapper.xml" />
		<mapper resource="sqlmap/GradingInfoMapper.xml" />
		<mapper resource="sqlmap/HouseCountMapper.xml" />
	</mappers>
  	
</configuration>