<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufo.fang.center.dao.agent.mapper.AgentMapper" >
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.Agent" >
    <id column="t_id" property="id" jdbcType="BIGINT" />
    <result column="t_name" property="name" jdbcType="VARCHAR" />
    <result column="t_moblie" property="moblie" jdbcType="VARCHAR" />
    <result column="t_password" property="password" jdbcType="VARCHAR" />
    <result column="t_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="t_modify_time" property="modifyTime" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_agent
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.Agent" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_agent (id, name, moblie, 
      password, create_time, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{moblie,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.Agent" >
    update t_agent
    set name = #{name,jdbcType=VARCHAR},
      moblie = #{moblie,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select t.id as t_id, t.name as t_name, t.moblie as t_moblie, t.password as t_password, 
    t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_agent t
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select t.id as t_id, t.name as t_name, t.moblie as t_moblie, t.password as t_password, 
    t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_agent t
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select t.id as t_id, t.name as t_name, t.moblie as t_moblie, t.password as t_password, 
    t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_agent t
  </select>
  <select id="selectByPageList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select t.id as t_id, t.name as t_name, t.moblie as t_moblie, t.password as t_password, 
    t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_agent t
  </select>
  <select id="selectByPageListSum" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    select count(1) as totalNum 
    from t_agent t
  </select>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into t_agent (id, 
      name, moblie, password, 
      create_time, modify_time)
    values <foreach collection="list" item="item" open="(" close=")" separator=",">#{item.id,jdbcType=BIGINT}, 
      #{item.name,jdbcType=VARCHAR}, #{item.moblie,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.modifyTime,jdbcType=CHAR}</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List" >
    delete from t_agent
    where id in 
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      ${id}
    </foreach>
  </delete>
</mapper>