<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufo.fang.center.dao.gradinginfo.mapper.GradingInfoMapper">
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.GradingInfo">
    <id column="t_id" jdbcType="BIGINT" property="id" />
    <result column="t_grading_id" jdbcType="BIGINT" property="gradingId" />
    <result column="t_traffic_describe" jdbcType="VARCHAR" property="trafficDescribe" />
    <result column="t_university" jdbcType="VARCHAR" property="university" />
    <result column="t_school" jdbcType="VARCHAR" property="school" />
    <result column="t_kindergarten" jdbcType="VARCHAR" property="kindergarten" />
    <result column="t_mall" jdbcType="VARCHAR" property="mall" />
    <result column="t_post_office" jdbcType="VARCHAR" property="postOffice" />
    <result column="t_bank" jdbcType="VARCHAR" property="bank" />
    <result column="t_hospital" jdbcType="VARCHAR" property="hospital" />
    <result column="t_other" jdbcType="VARCHAR" property="other" />
    <result column="t_tel" jdbcType="VARCHAR" property="tel" />
    <result column="t_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="t_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_grading_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.GradingInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_grading_info (id, grading_id, traffic_describe, 
      university, school, kindergarten, 
      mall, post_office, bank, 
      hospital, other, tel, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{gradingId,jdbcType=BIGINT}, #{trafficDescribe,jdbcType=VARCHAR}, 
      #{university,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{kindergarten,jdbcType=VARCHAR}, 
      #{mall,jdbcType=VARCHAR}, #{postOffice,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{hospital,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.GradingInfo">
    update t_grading_info
    set grading_id = #{gradingId,jdbcType=BIGINT},
      traffic_describe = #{trafficDescribe,jdbcType=VARCHAR},
      university = #{university,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      kindergarten = #{kindergarten,jdbcType=VARCHAR},
      mall = #{mall,jdbcType=VARCHAR},
      post_office = #{postOffice,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      hospital = #{hospital,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select t.id as t_id, t.grading_id as t_grading_id, t.traffic_describe as t_traffic_describe, 
    t.university as t_university, t.school as t_school, t.kindergarten as t_kindergarten, 
    t.mall as t_mall, t.post_office as t_post_office, t.bank as t_bank, t.hospital as t_hospital, 
    t.other as t_other, t.tel as t_tel, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_grading_info t
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select t.id as t_id, t.grading_id as t_grading_id, t.traffic_describe as t_traffic_describe, 
    t.university as t_university, t.school as t_school, t.kindergarten as t_kindergarten, 
    t.mall as t_mall, t.post_office as t_post_office, t.bank as t_bank, t.hospital as t_hospital, 
    t.other as t_other, t.tel as t_tel, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_grading_info t
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.grading_id as t_grading_id, t.traffic_describe as t_traffic_describe, 
    t.university as t_university, t.school as t_school, t.kindergarten as t_kindergarten, 
    t.mall as t_mall, t.post_office as t_post_office, t.bank as t_bank, t.hospital as t_hospital, 
    t.other as t_other, t.tel as t_tel, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_grading_info t
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.grading_id as t_grading_id, t.traffic_describe as t_traffic_describe, 
    t.university as t_university, t.school as t_school, t.kindergarten as t_kindergarten, 
    t.mall as t_mall, t.post_office as t_post_office, t.bank as t_bank, t.hospital as t_hospital, 
    t.other as t_other, t.tel as t_tel, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_grading_info t
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum 
    from t_grading_info t
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into t_grading_info (id, 
      grading_id, traffic_describe, university, 
      school, kindergarten, mall, 
      post_office, bank, hospital, 
      other, tel, create_time, 
      modify_time)
    values <foreach collection="list" item="item" separator=",">(#{item.id,jdbcType=BIGINT},
      #{item.gradingId,jdbcType=BIGINT}, #{item.trafficDescribe,jdbcType=VARCHAR}, #{item.university,jdbcType=VARCHAR}, 
      #{item.school,jdbcType=VARCHAR}, #{item.kindergarten,jdbcType=VARCHAR}, #{item.mall,jdbcType=VARCHAR}, 
      #{item.postOffice,jdbcType=VARCHAR}, #{item.bank,jdbcType=VARCHAR}, #{item.hospital,jdbcType=VARCHAR}, 
      #{item.other,jdbcType=VARCHAR}, #{item.tel,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
      #{item.modifyTime,jdbcType=TIMESTAMP})</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from t_grading_info
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
</mapper>