<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufo.fang.center.dao.housesource.mapper.HouseSourceMapper">
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.HouseSource">
    <id column="t_id" jdbcType="BIGINT" property="id" />
    <result column="t_uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="t_source" jdbcType="VARCHAR" property="source" />
    <result column="t_url" jdbcType="VARCHAR" property="url" />
    <result column="t_source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="t_title" jdbcType="VARCHAR" property="title" />
    <result column="t_grading_name" jdbcType="VARCHAR" property="gradingName" />
    <result column="t_use_type" jdbcType="VARCHAR" property="useType" />
    <result column="t_sales_type" jdbcType="VARCHAR" property="salesType" />
    <result column="t_status" jdbcType="VARCHAR" property="status" />
    <result column="t_province" jdbcType="INTEGER" property="province" />
    <result column="t_city" jdbcType="INTEGER" property="city" />
    <result column="t_district" jdbcType="VARCHAR" property="district" />
    <result column="t_cbd" jdbcType="VARCHAR" property="cbd" />
    <result column="t_room" jdbcType="INTEGER" property="room" />
    <result column="t_hall" jdbcType="INTEGER" property="hall" />
    <result column="t_kitchen" jdbcType="INTEGER" property="kitchen" />
    <result column="t_toilet" jdbcType="INTEGER" property="toilet" />
    <result column="t_balcony" jdbcType="INTEGER" property="balcony" />
    <result column="t_floor" jdbcType="INTEGER" property="floor" />
    <result column="t_total_floor" jdbcType="INTEGER" property="totalFloor" />
    <result column="t_publish_price" jdbcType="DECIMAL" property="publishPrice" />
    <result column="t_property_right_type" jdbcType="VARCHAR" property="propertyRightType" />
    <result column="t_building_year" jdbcType="VARCHAR" property="buildingYear" />
    <result column="t_building_area" jdbcType="DOUBLE" property="buildingArea" />
    <result column="t_usable_area" jdbcType="DOUBLE" property="usableArea" />
    <result column="t_housing_type" jdbcType="VARCHAR" property="housingType" />
    <result column="t_decoration_type" jdbcType="VARCHAR" property="decorationType" />
    <result column="t_building_structure" jdbcType="VARCHAR" property="buildingStructure" />
    <result column="t_orientation" jdbcType="VARCHAR" property="orientation" />
    <result column="t_describes" jdbcType="VARCHAR" property="describes" />
    <result column="t_contact" jdbcType="VARCHAR" property="contact" />
    <result column="t_contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="t_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="t_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_house_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.HouseSource">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_house_source (id, uuid, source, 
      url, source_id, title, 
      grading_name, use_type, sales_type, 
      status, province, city, 
      district, cbd, room, 
      hall, kitchen, toilet, 
      balcony, floor, total_floor, 
      publish_price, property_right_type, building_year, 
      building_area, usable_area, housing_type, 
      decoration_type, building_structure, orientation, 
      describes, contact, contact_mobile, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{gradingName,jdbcType=VARCHAR}, #{useType,jdbcType=VARCHAR}, #{salesType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{district,jdbcType=VARCHAR}, #{cbd,jdbcType=VARCHAR}, #{room,jdbcType=INTEGER}, 
      #{hall,jdbcType=INTEGER}, #{kitchen,jdbcType=INTEGER}, #{toilet,jdbcType=INTEGER}, 
      #{balcony,jdbcType=INTEGER}, #{floor,jdbcType=INTEGER}, #{totalFloor,jdbcType=INTEGER}, 
      #{publishPrice,jdbcType=DECIMAL}, #{propertyRightType,jdbcType=VARCHAR}, #{buildingYear,jdbcType=VARCHAR}, 
      #{buildingArea,jdbcType=DOUBLE}, #{usableArea,jdbcType=DOUBLE}, #{housingType,jdbcType=VARCHAR}, 
      #{decorationType,jdbcType=VARCHAR}, #{buildingStructure,jdbcType=VARCHAR}, #{orientation,jdbcType=VARCHAR}, 
      #{describes,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.HouseSource">
    update t_house_source
    set uuid = #{uuid,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      grading_name = #{gradingName,jdbcType=VARCHAR},
      use_type = #{useType,jdbcType=VARCHAR},
      sales_type = #{salesType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      district = #{district,jdbcType=VARCHAR},
      cbd = #{cbd,jdbcType=VARCHAR},
      room = #{room,jdbcType=INTEGER},
      hall = #{hall,jdbcType=INTEGER},
      kitchen = #{kitchen,jdbcType=INTEGER},
      toilet = #{toilet,jdbcType=INTEGER},
      balcony = #{balcony,jdbcType=INTEGER},
      floor = #{floor,jdbcType=INTEGER},
      total_floor = #{totalFloor,jdbcType=INTEGER},
      publish_price = #{publishPrice,jdbcType=DECIMAL},
      property_right_type = #{propertyRightType,jdbcType=VARCHAR},
      building_year = #{buildingYear,jdbcType=VARCHAR},
      building_area = #{buildingArea,jdbcType=DOUBLE},
      usable_area = #{usableArea,jdbcType=DOUBLE},
      housing_type = #{housingType,jdbcType=VARCHAR},
      decoration_type = #{decorationType,jdbcType=VARCHAR},
      building_structure = #{buildingStructure,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select t.id as t_id, t.uuid as t_uuid, t.source as t_source, t.url as t_url, t.source_id as t_source_id, 
    t.title as t_title, t.grading_name as t_grading_name, t.use_type as t_use_type, t.sales_type as t_sales_type, 
    t.status as t_status, t.province as t_province, t.city as t_city, t.district as t_district, 
    t.cbd as t_cbd, t.room as t_room, t.hall as t_hall, t.kitchen as t_kitchen, t.toilet as t_toilet, 
    t.balcony as t_balcony, t.floor as t_floor, t.total_floor as t_total_floor, t.publish_price as t_publish_price, 
    t.property_right_type as t_property_right_type, t.building_year as t_building_year, 
    t.building_area as t_building_area, t.usable_area as t_usable_area, t.housing_type as t_housing_type, 
    t.decoration_type as t_decoration_type, t.building_structure as t_building_structure, 
    t.orientation as t_orientation, t.describes as t_describes, t.contact as t_contact, 
    t.contact_mobile as t_contact_mobile, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_house_source t
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select t.id as t_id, t.uuid as t_uuid, t.source as t_source, t.url as t_url, t.source_id as t_source_id, 
    t.title as t_title, t.grading_name as t_grading_name, t.use_type as t_use_type, t.sales_type as t_sales_type, 
    t.status as t_status, t.province as t_province, t.city as t_city, t.district as t_district, 
    t.cbd as t_cbd, t.room as t_room, t.hall as t_hall, t.kitchen as t_kitchen, t.toilet as t_toilet, 
    t.balcony as t_balcony, t.floor as t_floor, t.total_floor as t_total_floor, t.publish_price as t_publish_price, 
    t.property_right_type as t_property_right_type, t.building_year as t_building_year, 
    t.building_area as t_building_area, t.usable_area as t_usable_area, t.housing_type as t_housing_type, 
    t.decoration_type as t_decoration_type, t.building_structure as t_building_structure, 
    t.orientation as t_orientation, t.describes as t_describes, t.contact as t_contact, 
    t.contact_mobile as t_contact_mobile, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_house_source t
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.uuid as t_uuid, t.source as t_source, t.url as t_url, t.source_id as t_source_id, 
    t.title as t_title, t.grading_name as t_grading_name, t.use_type as t_use_type, t.sales_type as t_sales_type, 
    t.status as t_status, t.province as t_province, t.city as t_city, t.district as t_district, 
    t.cbd as t_cbd, t.room as t_room, t.hall as t_hall, t.kitchen as t_kitchen, t.toilet as t_toilet, 
    t.balcony as t_balcony, t.floor as t_floor, t.total_floor as t_total_floor, t.publish_price as t_publish_price, 
    t.property_right_type as t_property_right_type, t.building_year as t_building_year, 
    t.building_area as t_building_area, t.usable_area as t_usable_area, t.housing_type as t_housing_type, 
    t.decoration_type as t_decoration_type, t.building_structure as t_building_structure, 
    t.orientation as t_orientation, t.describes as t_describes, t.contact as t_contact, 
    t.contact_mobile as t_contact_mobile, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_house_source t
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.uuid as t_uuid, t.source as t_source, t.url as t_url, t.source_id as t_source_id, 
    t.title as t_title, t.grading_name as t_grading_name, t.use_type as t_use_type, t.sales_type as t_sales_type, 
    t.status as t_status, t.province as t_province, t.city as t_city, t.district as t_district, 
    t.cbd as t_cbd, t.room as t_room, t.hall as t_hall, t.kitchen as t_kitchen, t.toilet as t_toilet, 
    t.balcony as t_balcony, t.floor as t_floor, t.total_floor as t_total_floor, t.publish_price as t_publish_price, 
    t.property_right_type as t_property_right_type, t.building_year as t_building_year, 
    t.building_area as t_building_area, t.usable_area as t_usable_area, t.housing_type as t_housing_type, 
    t.decoration_type as t_decoration_type, t.building_structure as t_building_structure, 
    t.orientation as t_orientation, t.describes as t_describes, t.contact as t_contact, 
    t.contact_mobile as t_contact_mobile, t.create_time as t_create_time, t.modify_time as t_modify_time
    from t_house_source t
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum 
    from t_house_source t
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into t_house_source (id, 
      uuid, source, url, 
      source_id, title, grading_name, 
      use_type, sales_type, status, 
      province, city, district, 
      cbd, room, hall, 
      kitchen, toilet, balcony, 
      floor, total_floor, publish_price, 
      property_right_type, building_year, 
      building_area, usable_area, housing_type, 
      decoration_type, building_structure, 
      orientation, describes, contact, 
      contact_mobile, create_time, 
      modify_time)
    values <foreach collection="list" item="item" separator=",">(#{item.id,jdbcType=BIGINT}, 
      #{item.uuid,jdbcType=VARCHAR}, #{item.source,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR}, 
      #{item.sourceId,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, #{item.gradingName,jdbcType=VARCHAR}, 
      #{item.useType,jdbcType=VARCHAR}, #{item.salesType,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, 
      #{item.province,jdbcType=INTEGER}, #{item.city,jdbcType=INTEGER}, #{item.district,jdbcType=VARCHAR}, 
      #{item.cbd,jdbcType=VARCHAR}, #{item.room,jdbcType=INTEGER}, #{item.hall,jdbcType=INTEGER}, 
      #{item.kitchen,jdbcType=INTEGER}, #{item.toilet,jdbcType=INTEGER}, #{item.balcony,jdbcType=INTEGER}, 
      #{item.floor,jdbcType=INTEGER}, #{item.totalFloor,jdbcType=INTEGER}, #{item.publishPrice,jdbcType=DECIMAL}, 
      #{item.propertyRightType,jdbcType=VARCHAR}, #{item.buildingYear,jdbcType=VARCHAR}, 
      #{item.buildingArea,jdbcType=DOUBLE}, #{item.usableArea,jdbcType=DOUBLE}, #{item.housingType,jdbcType=VARCHAR}, 
      #{item.decorationType,jdbcType=VARCHAR}, #{item.buildingStructure,jdbcType=VARCHAR}, 
      #{item.orientation,jdbcType=VARCHAR}, #{item.describes,jdbcType=VARCHAR}, #{item.contact,jdbcType=VARCHAR}, 
      #{item.contactMobile,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
      #{item.modifyTime,jdbcType=TIMESTAMP})</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from t_house_source
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
</mapper>