<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufo.fang.center.dao.housecount.mapper.HouseCountMapper">
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.HouseCount">
    <id column="t_id" jdbcType="BIGINT" property="id" />
    <result column="t_house_source_id" jdbcType="BIGINT" property="houseSourceId" />
    <result column="t_click_num" jdbcType="INTEGER" property="clickNum" />
    <result column="t_collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="t_inform_num" jdbcType="INTEGER" property="informNum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_house_count
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.HouseCount">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_house_count (id, house_source_id, click_num, 
      collect_num, inform_num)
    values (#{id,jdbcType=BIGINT}, #{houseSourceId,jdbcType=BIGINT}, #{clickNum,jdbcType=INTEGER}, 
      #{collectNum,jdbcType=INTEGER}, #{informNum,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.HouseCount">
    update t_house_count
    set house_source_id = #{houseSourceId,jdbcType=BIGINT},
      click_num = #{clickNum,jdbcType=INTEGER},
      collect_num = #{collectNum,jdbcType=INTEGER},
      inform_num = #{informNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select t.id as t_id, t.house_source_id as t_house_source_id, t.click_num as t_click_num, 
    t.collect_num as t_collect_num, t.inform_num as t_inform_num
    from t_house_count t
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select t.id as t_id, t.house_source_id as t_house_source_id, t.click_num as t_click_num, 
    t.collect_num as t_collect_num, t.inform_num as t_inform_num
    from t_house_count t
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.house_source_id as t_house_source_id, t.click_num as t_click_num, 
    t.collect_num as t_collect_num, t.inform_num as t_inform_num
    from t_house_count t
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select t.id as t_id, t.house_source_id as t_house_source_id, t.click_num as t_click_num, 
    t.collect_num as t_collect_num, t.inform_num as t_inform_num
    from t_house_count t
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum 
    from t_house_count t
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into t_house_count (id, 
      house_source_id, click_num, collect_num, 
      inform_num)
    values <foreach collection="list" item="item" separator=",">(#{item.id,jdbcType=BIGINT}, 
      #{item.houseSourceId,jdbcType=BIGINT}, #{item.clickNum,jdbcType=INTEGER}, #{item.collectNum,jdbcType=INTEGER}, 
      #{item.informNum,jdbcType=INTEGER})</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from t_house_count
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
</mapper>