<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ufo.fang.center.dao.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="source_type" jdbcType="BIGINT" property="sourceType" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from demo_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.User">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demo_user (id, username, fullname, 
      sex, password, email, 
      mobilephone, status, source_type, 
      source_id, department_id, gmt_create, 
      gmt_modified, creator_name, modifier_name
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sourceType,jdbcType=BIGINT}, 
      #{sourceId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creatorName,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.User">
    update demo_user
    set username = #{username,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      source_type = #{sourceType,jdbcType=BIGINT},
      source_id = #{sourceId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum  ,sum(source_type)
    from demo_user
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into demo_user (id, 
      username, fullname, sex, 
      password, email, mobilephone, 
      status, source_type, source_id, 
      department_id, gmt_create, gmt_modified, 
      creator_name, modifier_name)
    values <foreach close=")" collection="list" item="item" open="(" separator=",">#{item.id,jdbcType=BIGINT}, 
      #{item.username,jdbcType=VARCHAR}, #{item.fullname,jdbcType=VARCHAR}, #{item.sex,jdbcType=TINYINT}, 
      #{item.password,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.mobilephone,jdbcType=VARCHAR}, 
      #{item.status,jdbcType=TINYINT}, #{item.sourceType,jdbcType=BIGINT}, #{item.sourceId,jdbcType=BIGINT}, 
      #{item.departmentId,jdbcType=BIGINT}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
      #{item.creatorName,jdbcType=VARCHAR}, #{item.modifierName,jdbcType=VARCHAR}</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from demo_user
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="source_type" jdbcType="BIGINT" property="sourceType" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from demo_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.User">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demo_user (id, username, fullname, 
      sex, password, email, 
      mobilephone, status, source_type, 
      source_id, department_id, gmt_create, 
      gmt_modified, creator_name, modifier_name
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sourceType,jdbcType=BIGINT}, 
      #{sourceId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creatorName,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.User">
    update demo_user
    set username = #{username,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      source_type = #{sourceType,jdbcType=BIGINT},
      source_id = #{sourceId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum  ,sum(source_type)
    from demo_user
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into demo_user (id, 
      username, fullname, sex, 
      password, email, mobilephone, 
      status, source_type, source_id, 
      department_id, gmt_create, gmt_modified, 
      creator_name, modifier_name)
    values <foreach close=")" collection="list" item="item" open="(" separator=",">#{item.id,jdbcType=BIGINT}, 
      #{item.username,jdbcType=VARCHAR}, #{item.fullname,jdbcType=VARCHAR}, #{item.sex,jdbcType=TINYINT}, 
      #{item.password,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.mobilephone,jdbcType=VARCHAR}, 
      #{item.status,jdbcType=TINYINT}, #{item.sourceType,jdbcType=BIGINT}, #{item.sourceId,jdbcType=BIGINT}, 
      #{item.departmentId,jdbcType=BIGINT}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
      #{item.creatorName,jdbcType=VARCHAR}, #{item.modifierName,jdbcType=VARCHAR}</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from demo_user
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="source_type" jdbcType="BIGINT" property="sourceType" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from demo_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.User">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demo_user (id, username, fullname, 
      sex, password, email, 
      mobilephone, status, source_type, 
      source_id, department_id, gmt_create, 
      gmt_modified, creator_name, modifier_name
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sourceType,jdbcType=BIGINT}, 
      #{sourceId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creatorName,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.User">
    update demo_user
    set username = #{username,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      source_type = #{sourceType,jdbcType=BIGINT},
      source_id = #{sourceId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum  ,sum(source_type)
    from demo_user
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into demo_user (id, 
      username, fullname, sex, 
      password, email, mobilephone, 
      status, source_type, source_id, 
      department_id, gmt_create, gmt_modified, 
      creator_name, modifier_name)
    values <foreach close=")" collection="list" item="item" open="(" separator=",">#{item.id,jdbcType=BIGINT}, 
      #{item.username,jdbcType=VARCHAR}, #{item.fullname,jdbcType=VARCHAR}, #{item.sex,jdbcType=TINYINT}, 
      #{item.password,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.mobilephone,jdbcType=VARCHAR}, 
      #{item.status,jdbcType=TINYINT}, #{item.sourceType,jdbcType=BIGINT}, #{item.sourceId,jdbcType=BIGINT}, 
      #{item.departmentId,jdbcType=BIGINT}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
      #{item.creatorName,jdbcType=VARCHAR}, #{item.modifierName,jdbcType=VARCHAR}</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from demo_user
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
  <resultMap id="BaseResultMap" type="com.ufo.fang.center.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="source_type" jdbcType="BIGINT" property="sourceType" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from demo_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.fang.center.model.User">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demo_user (id, username, fullname, 
      sex, password, email, 
      mobilephone, status, source_type, 
      source_id, department_id, gmt_create, 
      gmt_modified, creator_name, modifier_name
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sourceType,jdbcType=BIGINT}, 
      #{sourceId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creatorName,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ufo.fang.center.model.User">
    update demo_user
    set username = #{username,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      source_type = #{sourceType,jdbcType=BIGINT},
      source_id = #{sourceId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByParameters" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select id, username, fullname, sex, password, email, mobilephone, status, source_type, 
    source_id, department_id, gmt_create, gmt_modified, creator_name, modifier_name
    from demo_user
  </select>
  <select id="selectByPageListSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select count(1) as totalNum  ,sum(source_type)
    from demo_user
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into demo_user (id, 
      username, fullname, sex, 
      password, email, mobilephone, 
      status, source_type, source_id, 
      department_id, gmt_create, gmt_modified, 
      creator_name, modifier_name)
    values <foreach close=")" collection="list" item="item" open="(" separator=",">#{item.id,jdbcType=BIGINT}, 
      #{item.username,jdbcType=VARCHAR}, #{item.fullname,jdbcType=VARCHAR}, #{item.sex,jdbcType=TINYINT}, 
      #{item.password,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.mobilephone,jdbcType=VARCHAR}, 
      #{item.status,jdbcType=TINYINT}, #{item.sourceType,jdbcType=BIGINT}, #{item.sourceId,jdbcType=BIGINT}, 
      #{item.departmentId,jdbcType=BIGINT}, #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}, 
      #{item.creatorName,jdbcType=VARCHAR}, #{item.modifierName,jdbcType=VARCHAR}</foreach>
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from demo_user
    where id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      ${id}
    </foreach>
  </delete>
</mapper>